<div class="container">
    <div class="row mt-4">
        <div class="col-md-1">
            <div class="image">

            </div>
        </div>
        <div class="col-md-11">
            <h1>My UT Phone Book</h1>
        </div>
        <div class="col-md-12 mt-4">
            <div class="phone-book-section">
                <div class="form-header">
                    <h2>Add New Contact</h2>
                </div>
                <div class="form-section">
                    {{ form['form']['form'] }}
                    {{ form.form_build_id }}
                    {{ form.form_id }}
                </div>


                <div class="mt-4">
                    <div class="result-section">
                        {{ form['form']['form1'] }}
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

