h1 {
  margin: 10px 0 0 0 !important;
  padding: 0!important;
  font-size: 25px!important;
}

h2 {
  margin: 0 !important;
  padding: 0!important;
  font-size: 18px!important;
}


.mt-4 {
  margin-top: 40px;
}

.image {
  width: 60px;
  height: 48px;
  background-image: url("../img/logo.jpg");
  background-repeat: no-repeat;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #1e5c90;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #0071b8;}

.form-header {
  padding: 10px;
  background: #D6D6D6;
  border: 1px solid #646464;
}
.form-section {
  padding: 40px;
  border: 1px solid #000000;
}

.phone-book-section, .result-section {
  /*width: 30%;*/
  margin: 0 auto;
}

.input-field {
  display: inline-block;
}

.error-msg {
  position: absolute;
}

.form-group {
  margin-right: 10px;
  float: left;
}

.form-group input {
  width: 100% !important;
}

.form-checkboxes {
  padding: 10px;
}

.result-table {
  width: 100%;
}

.result-table tr td {
  padding: 16px 54px;
  border-bottom: solid 1px #000000;
}

.result-table tr {
  position: relative;
}


.result-table tr td:first-child {
  font-weight: bold;
}

.result-table tr td:first-child::before {
  content: url('../img/avatar.png');
  width: 46px;
  height: 43px;
  top: 3px;
  left: 0;
  position: absolute;
}

.result-table tr td:nth-child(2)::before {
  content: url('../img/phone-icon.png');
  width: 21px;
  height: 23px;
  margin: -2px 0 0 -27px;
  position: absolute;
}

.delete-option:before {
  content: '\007F';
}

.fa-trash-o {
  font-family: 'Font Awesome\ 5 Brands';
}

.edit-form input {
  width: 100% !important;
}

.ui-dialog .ui-dialog-content {
  height: 120px !important;
}

.success-msg {
  margin-top: 40px!important;
}

.is-fav-yes {
  background: #D7EDF9;
}

.is-fav-yes td:first-child::after {
  content: url('../img/star.png');
  width: 21px;
  height: 23px;
  margin: 0 0 0 6px;
  position: absolute;
}

/* font-awesome incon */
.fa{
  padding-right: 5px;
}